<div id="footer-wrap">
<div class="left-box">
<div>
<h6>热门产品</h6>
<ul>
<li><a href="##">金钢4K</a></li>
<li><a href="##">金钢Pro</a></li>
<li><a href="##">金钢GTX</a></li>
<li><a href="##">金钢T2</a></li>
</ul>	
</div>

<div>
<h6>服务支持</h6>
<ul>
<li><a href="##">驱动下载</a></li>
<li><a href="##">网点查询</a></li>
<li><a href="##">保修查询</a></li>
</ul>	
</div>

<div>
	<h6>官方社区</h6>
<ul>
<li><a href="##">论坛</a></li>
<li><a href="##">微博</a></li>
<li><a href="##">贴吧</a></li>
<li><a href="##">部落</a></li>
</ul>	
</div>

<div>
	<h6>关于我们</h6>
<ul>
<li><a href="##">公司简介</a></li>
<li><a href="##">新闻资讯</a></li>
<li><a href="##">工作机会</a></li>
</ul>	
</div>	
</div>
<div class="middle-box">
<p>Copyright © 2017 广州市清芬挺秀信息科技有限公司 | 粤ICP备15010019号-1</p>	
</div>
<div class="right-box">
<h6>客服热线</h6>
</div>
</div>