<!-- 头部html -->
<div id="header-wrap" class="header-wrap">	
<div id="header-logo" class="header-logo"></div>	
<div id="header-middle" class="header-middle">
<ul id="header-ul">
	<li class="ul-li Liac"><a href="/index.html">首页</a></li>
	<li><a href="http://localhost:4000//html/product.html">产品</a></li>
	<li><a href="http://localhost:4000//html/serve.html">服务</a></li>
	<li><a href="##">商城</a></li>
	<li><a href="##">社区</a></li>
</ul>	
<input type="text" name="" id="" value="" />
<span></span>
</div>
<div id="header-right" class="header-right">
<span id="eRrorbtn"></span>	
<span id="loginbtn"></span>
</div>

<div id="box-ul">
<div id="div">
<ul id="product-ul">
<li class="ac"><a class="ac" href="##">金钢4K</a></li>
<li class="ac"><a class="ac" href="##">金钢Pro</a></li>
<li class="ac"><a class="ac" href="##">金钢GTX</a></li>
<li class="ac"><a class="ac" href="##">金钢T2</a></li>
</ul>

<ul id="server-ul">
<li class="ac"><a class="ac" href="http://localhost:4000//html/list-drive.html">列表页</a></li>
<li class="ac"><a class="ac" href="http://localhost:4000//html/website.html">服务网点</a></li>
<li class="ac"><a class="ac" href="##">保修查询</a></li>	
</ul>

<ul id="shop-ul">
<li class="ac"><a class="ac" href="http://localhost:4000//html/shopcart.html">购物车</a></li>
<li class="ac"><a class="ac" href="http://localhost:4000//html/details.html">详情页</a></li>
<li class="ac"><a class="ac" href="##"></a></li>
<li class="ac"><a class="ac" href="##"></a></li>
</ul>

<ul id="community-ul">
<li class="ac"><a class="ac" href="##">微信</a></li>
<li class="ac"><a class="ac" href="##">
QQ
</a></li>
</ul>	
</div>

</div>

<span id="header-Span"> </span>
	
</div>